# Example configuration file for gitorious-install.sh. Please, revise
# and define all variables below for your environment.

# This should be the URL from where we will git clone gitorious. If
# you have a local repository handy the installation can be faster.
GITORIOUS_CLONE_URL=git://gitorious.org/gitorious/mainline.git

# Select a specific Gitorious commit to be checkout after
# installation. Leave it as HEAD if you want to use the bleading edge
# Gitorious. Otherwise, select one of the released tags.
GITORIOUS_COMMIT=HEAD

# Password for MySQL's root user
MYSQL_PWD='mysqlsecret'

# Domain name that users will use to access the Gitorious web
# interface. It should be a FQDN.
SERVERNAME=git.example.com

# A subdomain of SERVERNAME that gitorious will use to come up with
# HTTP cloning URLs. It must be different from the leftmost part of
# SERVERNAME, because for some reason Gitorious don't like it.
HTTP_CLONING_SUBDOMAIN=http

# Path names for the SSL certificate that Apache will use.
CERT_PEM=/etc/ssl/certs/git.example.com.pem
CERT_KEY=/etc/ssl/private/git.example.com.key

# Gitorious administrator's email
ADMIN_EMAIL='gitorious@example.com'

# LDAP configuration
LDAP_HOST=ldap.example.com
LDAP_PORT=389
LDAP_BASE_DN='ou=people,dc=example,dc=com'
LDAP_LOGIN_ATTR='sAMAccountName'
LDAP_BIND_DN='cn=ldapbind,ou=people,dc=example,dc=com'
LDAP_BIND_PWD='ldapsecret'
