# Example configuration file for rhodecode-install.sh. Please, revise
# and define all variables below for your environment.

# These values are used to configure git's user git --global
# environment.
GIT_USER_NAME='Your Name'
GIT_USER_EMAIL='you@example.com'

# Domain name that users will use to access the Gitorious web
# interface. It should be a FQDN.
SERVERNAME=git.example.com

# Path names for the SSL certificate that Apache will use.
CERT_FILE=/etc/ssl/certs/git.example.com.pem
CERT_KEY=/etc/ssl/private/git.example.com.key
CERT_CHAIN_FILE=/etc/ssl/certs/ca-certificates.crt

# Rhodecode email addresses
EMAIL_TO='rhodecode@example.com'
ERROR_EMAIL_FROM='rhodecode@example.com'
APP_EMAIL_FROM='rhodecode@example.com'

SMTP_SERVER=smtp.example.com

# Pattern to detect references to the ticketing system.
# (The following example is good for JIRA.)
ISSUE_PAT='\b([A-Z]+-\d+)\b'

# Template for the ticketing system URLs.
ISSUE_SERVER_LINK='https://jira.example.com/browse/{id}'

# Directory for creating repositories
REPOS_DIR=$HOME/repos

# Admin credentials
RC_ADMIN=rcadmin
RC_PWD=123456

# RabbitMQ credentiais
RMQ_USER=rhodeuser
RMQ_PASS=rhodepass
